import React from 'react';
<% if (isStyled) { %>import { <%= componentName %>Container } from './<%= componentName %>.styles';<% } %>

<% if (hasProps) { %>interface Props {
  propName:string;
}<% } %>

const <%= componentName %>: React.FC<% if (hasProps) { %><Props><%} %> = (<% if (hasProps) { %>propName<%} %>) =>
  {
  return (
    <% if (isStyled) { %><<%= componentName %>Container><%} else { %><div><% } %>
      Hi
    <% if (isStyled) { %></<%= componentName %>Container><%} else { %></div><% } %>
  )
};

export { <%= componentName %> };